@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.top {
      height:40px;
      text-align:center;
      line-height:2.5;
      //font-weight:bold;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:#5b6f4e;
      color: $ms-color-white;
      white-space: nowrap;
      //margin:0 auto;
  }

.notificationText{
    padding:15px 0 35px 0;
    color: #fff;
    background-Color:#5b6f4e;
    font-family: Verlag A,Verlag B,sans-serif;
    font-size: 14px;
    font-weight: 400;

}

